.Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A82FFC;
    flex-direction: column;
    min-width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #300065;
    border: 7px solid #300065;
}

.h1 {
  font-family: fantasy;
  font-size: 32px;
  font-weight: bold;
  color: #300065;
  margin: 20px 0;  
}
.time {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    margin: 20px 0;  
    font-family: 'digital7';
    display: flex;
    align-items: center;
    justify-content: center;
}
.time span {
  width: 45px;
  text-align: center;

}