.Timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.h1 {
  font-family: fantasy;
  font-size: 32px;
  font-weight: bold;
  color: #300065;
  margin: 20px 0;
  background-color: #fff;
  padding: 10px;
}
.time {
  min-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #300065;
  border: 7px solid #300065;
  background: #a82ffc;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
  font-family: "digital7";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.time span {
  width: 45px;
  text-align: center;
}

.timeCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  width: 100%;
  border-bottom: 10px solid #300065;
  z-index: -100;
}