.Timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.h1 {
  font-family: fantasy;
  font-size: 32px;
  font-weight: bold;
  color: #300065;
  margin: 20px 0;
  background-color: #fff;
  padding: 10px;
}


.timeCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  width: 100%;
  border-bottom: 10px solid #300065;
  z-index: -100;
}

@media only screen and (max-width: 520px) {
  .Timer{
    width: 100%;
    border-top: 10px solid #300065;
    border-bottom: 10px solid #300065;

  }
  .line {
    display: none;
  }
}