.TimerControl {
    margin: 20px 0;
    /* background-color: #fff; */
}


.btn {
    background-color: #7a08fa;
    border: 2px solid #300065;
    /* color: #D189FF; */
    /* border: none; */
    margin: 0 10px;
    padding: 10px 5px;
    width: 100px;
    border-radius: 5px;
    font-family: cursive;
}

.btn:active {
    position: relative;
    top: 2px
}


.success {
    color: #0f0;
}
.danger{
    color: #f00;
}
.warning{
    color: #FFFF00;
}

