.TimerControl {
  margin: 20px 0;
  /* background-color: #fff; */
}

.btn {
  background-color: #7a08fa;
  border: 2px solid #300065;
  margin: 0 10px;
  padding: 10px 5px;
  width: 100px;
  border-radius: 5px;
  font-family: "digital7";
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:active {
  position: relative;
  top: 2px;
}
.btn:focus{
    border: inset;
}
.btn:hover {
    background-color: #a82ffc;
}
.success {
  color: #4CAF50;
}
.success:hover {
    border-color: #4CAF50 !important;
}
.danger {
  color: #f44336;
}
.danger:hover {
    border-color: #f44336 !important;
}
.warning {
  color: orange;
}
.warning:hover {
    border-color: #ff9800 !important; 
}
